<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List Test</title>
</head>
<body>

<h1>board list</h1>

<table>
    <thead>
    <tr>
        <th>상품이미지</th>
        <th>상품아이디</th>
        <th>상품명</th>
        <th>상품설명</th>
        <th>상품가격</th>
        <th>상품재고</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${allProduct}">
        <th><img th:src="${product.returnImages[0].storedPath}" style="width:50px; height:50px;"></th>
        <th th:text="${product.productId}">상품아이디</th>
        <th th:text="${product.productName}">상품명</th>
        <th th:text="${product.description}">상품설명</th>
        <th th:text="${product.price}">상품가격</th>
        <th th:text="${product.stock}">상품재고</th>
    </tr>
    </tbody>
</table>
</body>
</html>