<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminLayout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>관리자 페이지</title>
</head>
<body>

  <section layout:fragment="content">
    <div id="admin-main-total" class="border">
      <h2>통계</h2>

      <h4>회원</h4>
      <div>
        총 회원 수 :100 | 오늘가입한 회원수 :0 |
      </div>

      <h4>주문</h4>
      <div>
        총 주문 수 : 100 | 오늘 주문 수 : 0 | 주문 대기 상태 : 10 |
      </div>

      <h4>룩북</h4>
      <div>
        총 룩북 수 : 5 <br>룩북 태그 : #미니멀 #스트릿 #락시크
      </div>

      <h4>게시글</h4>
      <div>
        총 게시글 수 : 100 | 신고들어온 게시글 수 : 0 |
      </div>

    </div>
  </section>

</body>
</html>