<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminLayout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>스타일태그 관리 페이지</title>
</head>
<body>

  <section layout:fragment="content">
    <div class="border">
      <h2>현재 스타일 태그</h2>

      <div>
        <ul>
          <th:block th:each="tag : ${tags.styleTag}">
            <li>[[${tag.key}]]</li>
            <img th:src="${tag.value}" style="width:300px;height:300px;">
          </th:block>
        </ul>
      </div>

      <form th:action="@{/admin/style-tag}" method="post" th:object="${tags}" enctype="multipart/form-data">
        <sec:csrfInput />
        <input type="text" th:field="*{tag}" placeholder="스타일태그 명" />
        <input type="file" th:field="*{url}" name="url"/>
        <input type="text" th:field="*{urlName}" placeholder="이미지명"/>
        <input type="submit"  value="스타일태그 추가"/>
      </form>


    </div>

    <script th:inline="javascript">

    /*<![CDATA[*/

    var error = [[${error}]];
    if(error != null){
    alert(error);

    location.replace('/admin/style-tag');
    }
    /*]]>*/

</script>
  </section>

</body>
</html>