<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/baseLayout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>섹션안에 내용</title>
    <link href="/css/css_here.css" rel="stylesheet" />
</head>
<body>
<th:block layout:fragment="content">

<section style="flex:1;min-height:94vh" id="main-section">

</section>
</th:block>
</body>
</html>