<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/baseLayout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>알림 페이지</title>
</head>
<body>
<th:block layout:fragment="content">

    <section style="flex:1;background-color:#F2F2F2;" id="main-section">
        <div class="container" id="notice-container">
            <div class="row justify-content-center mt-5">
                <div class="col-sm-7 border p-3" style="min-height:50vh;border-radius:1.5rem;background-color:white;">
                    <h2 class="text-center">안 읽은 알림 목록</h2>
                    <th:block th:if="${not #strings.isEmpty(nonReadNotice)}">
                        <div th:each="noti : ${nonReadNotice}" class="text-center">[[${noti.notice}]]</div>
                    </th:block>

                    <h2 class="text-center">읽은 알림 목록</h2>
                    <th:block th:if="${not #strings.isEmpty(readNotice)}" th:each="noti ,i: ${readNotice}">
                        <div class="text-center" th:if="${i.index<15}">[[${noti.notice}]]</div>
                        <div class="text-center" th:unless="${i.index<15}">...이전 알림</div>
                    </th:block>
                </div>
            </div>

        </div>
      </section>

</th:block>
</body>
</html>