<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/signInLayout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
<th:block layout:fragment="content">

    <div class="container">
        <div class="d-flex flex-column align-items-center">
            <div class="jumbotron" style="padding-top: 100px;width:400px">
                <form method="post" th:action="@{/member/signUp}" name="signUpForm" id="signUpForm" th:object="${memberDto}">
                    <sec:csrfInput />
                    <h3 style="text-align: center;">회원가입</h3>
                    <div th:replace="fragment/form_errors :: formErrorsFragment"></div>
                    <div class="form-group mb-2">
                        아이디
                        <input type="text" class="form-control" placeholder="아이디" th:field="*{memberId}" maxlength="20">
                    </div>
                    <div class="form-group mb-2">
                        비밀번호
                        <input type="password" class="form-control" placeholder="비밀번호" th:field="*{password}" maxlength="20">
                    </div>
                    <div class="form-group mb-2">
                        이름
                        <input type="text" class="form-control" placeholder="이름" th:field="*{name}" maxlength="20">
                    </div>
                    <div class="form-group mb-2">
                        이메일
                        <input type="text" class="form-control" placeholder="이메일" th:field="*{email}" maxlength="20">
                    </div>
                    <div class="form-group mb-2">
                        전화번호
                        <input type="text" class="form-control" placeholder="전화번호" th:field="*{phone}" maxlength="20">
                    </div>
                    <div class="form-group mb-2">
                        생년월일
                        <input type="date" class="form-control" th:field="*{birth}" maxlength="20">
                    </div>
                    <p>성별</p>
                    <div class="form-check form-check-inline mb-2">
                        <input type="radio" class="form-check-input" th:field="*{gender}" value="male" maxlength="20">남자
                    </div>
                    <div class="form-check form-check-inline mb-2">
                        <input type="radio" class="form-check-input" th:field="*{gender}" value="female" maxlength="20">여자

                    </div>

                    <div class="form-group mb-2">
                        주소
                        <input type="text" class="form-control" placeholder="주소" th:field="*{address}" maxlength="20">
                    </div>
                    <div class="form-group mb-2">
                        상세주소
                        <input type="text" class="form-control" placeholder="상세주소" th:field="*{addressDetail}" maxlength="20">
                    </div>


                    <input type="submit" class="btn btn-primary form-control" style="margin-top:5px;" value="회원가입">
                </form>
            </div>
        </div>


</th:block>
</body>
</html>