<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/baseLayout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>상품 상세보기 페이지</title>
    <link href="/css/product.css" rel="stylesheet" />
</head>
<body>
<th:block layout:fragment="content">

    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5">
                <th:block th:if="${not #strings.isEmpty(product.returnImages)}">
                    <div class="col-md-7"><img class="card-img-top mb-5 mb-md-0" th:src="${product.returnImages[0].storedPath}" alt="..." /></div>
                </th:block>
                <div class="col-md-4" style="padding-top:10%">
                    <div class="small mb-1" th:text="|상품코드 : ${product.productId}|">상품코드</div>
                    <p class="small mb-0">상품명 : </p>
                    <h1 class="display-5 fw-bolder" th:text="${product.productName}">상품명</h1>
                    <div class="fs-5 mb-5" th:text="|가격 : ${product.price}|">
                        가격
                    </div>
                    <p class="small">상품설명 : </p>
                    <p class="lead" th:utext="${product.description}">상품설명</p>
                    <div class="small mb-1" th:text="|재고 : ${product.stock}|">상품재고</div>
                    <div class="d-flex">
                        <form class="d-flex" method="post" th:action="@{/cart/add-item}">
                            <sec:csrfInput />
                            <input class="form-control me-3" name="itemCount" id="inputQuantity" type="number" value="1" min="1" th:max="${product.stock}" style="max-width: 4rem" />
                            <input type="hidden" name="productId" th:value="${product.productId}" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                            <a class="btn btn-secondary" th:href="@{|/product/modify/${product.productId}|}">수정페이지</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</th:block>
</body>
</html>