<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/baseLayout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>룩북 수정 페이지</title>
    <link href="/css/product.css" rel="stylesheet" />
</head>
<body>
<th:block layout:fragment="content">

    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <form th:action="@{/lookbook/delete}" method="post" id="deleteForm" class="row">
                <sec:csrfInput />
                <input type="hidden" name="lookbookId" th:value="${lookbookDto.lookbookId}" />
                <div class="input-group">
                    <div class="col-sm-11 text-end">
                        <button class="btn btn-danger mb-3" id="deleteBtn" type="submit">삭제</button>
                    </div>
                </div>
            </form>

            <form th:action="@{/lookbook/modify}" method="post" enctype="multipart/form-data" th:object="${lookbookDto}">
                <sec:csrfInput />
                <div class="row gx-4 gx-lg-5">
                <th:block th:each="img, stat : ${lookbookDto.returnImages}">
                    <div class="col-md-7">
                    <img class="card-img-top mb-5 mb-md-0" th:src="${img.storedPath}" alt="..." style="height:300px;width:300px;"/>
                        <a th:href="@{|/lookbook/delete-img?imageId=${img.imageId}&lookbookId=${lookbookDto.lookbookId}|}"><-이미지 삭제</a>
                </div>
                    <div class="col-md-4" th:if="${stat.count==1}">
                    <div th:replace="fragment/form_errors :: formErrorsFragment"></div>
                    <div class="small mb-1">룩북 아이디<input type="text" class="form-control" placeholder="룩북 ID" th:field="*{lookbookId}" readonly></div>
                    <div class="small mb-1">룩북 제목<input type="text" class="form-control" placeholder="룩북 제목" th:field="*{lookbookTitle}"></div>
                    <div class="small mb-1">브랜드명<input type="text" class="form-control" placeholder="브랜드명" th:field="*{brand}"></div>
                    <div>룩북설명<textarea placeholder="룩북설명" class="form-control" th:field="*{description}"></textarea></div>
                    <div class="small mb-1">스타일태그<input type="text" class="form-control" placeholder="스타일태그" th:field="*{styleTag}"></div>
                    <div class="mb-2"><input class="form-control" type="file" id="formFile" th:field="*{getImages}" multiple></div>
                    <div class="text-end" id="board-submit">
                        <input type="submit" value="등록" class="btn btn-secondary">
                    </div>
                </div>
                </th:block>
            </div>
            </form>
        </div>
    </section>

</th:block>
</body>
</html>