<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>board List Test</title>
    <style>
        ul{
        list-style:none;
        }
        li{
        float:left;
        }
    </style>
</head>
<body>

<h1>board list</h1>

<table>
    <thead>
    <tr>
        <th>게시글번호</th>
        <th>제목</th>
        <th>댓글수</th>
        <th>글쓴이</th>
        <th>좋아요수</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${paging}">
        <th th:text="${board.boardId}">게시글번호</th>
        <th><a th:text="${board.title}" th:href="@{|/board/detail/${board.boardId}|}">제목</a></th>
        <th th:text="${board.commentCount}">댓글수</th>
        <th th:text="${board.writer}">글쓴이</th>
        <th th:text="${board.likeCount}">좋아요수</th>
        <th th:text="${board.viewCount}">조회수</th>
    </tr>
    </tbody>
</table>
<!--페이징처리-->
<div th:if="${!paging.isEmpty()}">
    <ul>
        <li th:style="${!paging.hasPrevious  ? 'disabled' : ''}">
            <a th:href="@{|?page=${paging.number-1}|}"><span>prev</span></a>
        </li>

        <li th:each="page : ${#numbers.sequence(1,paging.totalPages)}"
            th:if="${page >= paging.number-5 and page <= paging.number+5}"
            th:style="${page-1 == paging.number  ? 'disabled' : ''}">
            <a th:text="${page}" th:href="@{|?page=${page-1}|}"></a>
        </li>

        <li th:style="${!paging.hasNext  ? 'disabled' : ''}">
            <a th:href="@{|?page=${paging.number+1}|}"><span>next</span></a>
        </li>
    </ul>
</div>



</body>
</html>