<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>TODO LIST HOME</title>
    <link rel="stylesheet" type="text/css" href="/CSS/homepage.css">
</head>
<body>

<div class="wrapper">
    <div>
        <h1> TODO LIST HOME PAGE</h1>
        <div class="loginBox">
            <div>
                <p>ID</p>
                <p>PASSWORD</p>
            </div>
            <div>
                <form name="loginForm" th:action="@{/member/login}" method="post">
                    <sec:csrfInput />
                    <p><input type="text" name="username" placeholder="enter ID"></p>
                    <p><input type="text" name="password" placeholder="enter PASSWORD">
                    <p><input type="submit" value="LOG_IN"></p>
                </form>
                <a th:href="@{/member/signup}">JOIN FOR HERE</a>
            </div>
        </div>
    </div>
</div>


</body>
</html>